<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Hoja de Vida</title>
  <link rel="stylesheet" href="/css/editar_persona.css">
  <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}">
</head>
<body>

<div class="navbar">
  <a class="logo" th:href="@{/consultar}">MH</a>
  <a class="app-name" th:href="@{/consultar}">MiHoja</a>
  <div class="nav-links">
    <a th:href="@{/consultar}">Consultar</a>
    <a th:href="@{/insertar}">Insertar</a>
    <a th:href="@{/configuracion-campos}">Campos</a>
  </div>
</div>

<div class="acciones-superiores">
  <div>
    <a th:href="@{/consultar}">
      <button class="cerrar-btn">X</button>
    </a>
  </div>
</div>

<div th:replace="~{fragments/persona_edicion_fragment :: personaEditForm(${camposCustom}, ${valoresCustom}, @{/editar/{id}(id=${persona.id})}, '')}"></div>

</body>
</html>
